<?xml version="1.0" ?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Webb Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>DsResults</servlet-name>
        <servlet-class>org.jab.docsearch.servlet.DsResults</servlet-class>
        <init-param>
            <param-name>USER_HOME</param-name>
            <param-value>K:\jbrown\code\search_app\.docSearcher</param-value>
        </init-param>
        <init-param>
            <param-name>LOG_DIR</param-name>
            <param-value>K:\jbrown\code\search_app\.docSearcher\logs</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>DsResults</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>
