A:link {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
.unnamed1 {
	LINE-HEIGHT: 150%
}
.unnamed2 {
	LINE-HEIGHT: 0px
}
.unnamed3 {
	LINE-HEIGHT: 10%
}
